* {
    box-sizing: border-box;
}

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.colors {
    display: flex;
    position: absolute;
    left: 60px;
    top: 5px;
    background-color: rgba(31, 30, 30, 0.5);
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}

.color {
    height: 1.5em;
    width: 1.5em;
    margin: 2px;
    border-radius: 6px;
}

.color.black {
    background-color: black;
}
.color.red {
    background-color: red;
}
.color.blue {
    background-color: blue;
}

.clear-button {
    background: rgba(236, 40, 40, 0.774);
    border-radius: 999px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding: 4px 18px;
    margin-left: 20px;
    border: none;
}
